* {
  margin: 0;
  padding: 0;
}

/* HomeComponent */
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(86, 73,172);
  color: white
}
h1 {
  text-align: center;
  font-size:40px;
  color: white;
}
#play {
  margin:15px;
  width:15vw;
  font-size:30px;
  background-color: green;
  color: white;
  border-radius: 20px;
}

/* QuizComponent */
.box {
  border: solid blue;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  color: black;
  width: 60vw;
  position: relative;
  border: 5px solid #1da1f2;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.box h1 {
  font-size: 40px;
  color: black;
  font-weight:bolder;
}
.quest {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}
.quest img{
  width: 50px;
}
.quest span:nth-child(3) {
  display: flex;
  align-items: center;
  color: limegreen;
  font-weight: 600;
}
.opts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}
.opts button {
  height: 5vh;
  width: 25vw;
  background:rgb(56,146,250);
  border-radius: 20px;
  color:white;
}
.opts button:hover {
  cursor: pointer;
  background: #0a6aa7;
}
.change {
  display: flex;
  width: 47vw;
  justify-content: space-evenly;
  align-items: baseline;
}
.change button {
  border-radius: 0;
  height: 6vh;
  width: 10vw;
  box-shadow: 2px 4px 13px 0px #00000059;
}
.change button:nth-child(1) {
  background: #0c85d0;
}
.change button:nth-child(2){
  background: #7eb906;
}
.change a {
  background: #ea4355;
  text-decoration: none;
  color: white;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6vh;
  box-shadow: 1px 1px 11px 1px #0000007a;
}
.dis {
  opacity: 0.5;
  background: grey !important;
}
.ans {
  position: absolute;
  top: 5vh;
  right: -3vh;
  height: 7vh;
  width: 10vw;
}
.ans span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 13px 4px #00000040;
  margin: 0 0 2vh 0;
}
.yes {
  background: rgb(71, 231, 71);
}
.no {
  background: rgb(248, 24, 24);
}

/* ResultComponent */
.result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}
.icon{
  display: flex;
  justify-content: center;
  margin: -10px;
  width:100%;
  height:9%; 
}
.result h2 {
  color: #06c436;
  font-weight: bolder;
  font-size: xxx-large;
}
.rslt {
  height: 40vh;
  width: 53vw;
  border: none
}
.rslt h2 {
  color: black;
}
.rslt h1 {
  color: #2ca6f2;
}
.list {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.btns {
  width: 53vw;
  display: flex;
  justify-content: space-around;
}
.btns a {
  background: transparent;
  text-decoration: none;
  color: white;
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.btns a:nth-child(1) {
  border: 3px solid #2ca6f2;
  color:#2ca6f2
}
.btns a:nth-child(2) {
  border: 3px solid #57b846;
  color: #57b846;
}


